<title>Glasgow Coder Collective</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="css/main.css" type="text/css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!--<script src='https://www.google.com/recaptcha/api.js'></script>-->