body{
}

.navbar{
  padding:1.2em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0 !important;
  color:#b2d8d8;
}

.main_container{
  background-image:url("group2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 35px;
  margin-top: -20px;
}

.info{
  padding:35px;
  margin-bottom: 20px;
}
.container{
  padding:0 10px 0 10px;
  border-radius: none;
}

section{
  margin:25px;
  padding:20px;
  background-color: white;
  display:grid;
  grid-template-columns: 1fr;
}

section{
  border-radius: 5px;
  text-align: center;
}

a:link{
  text-decoration: none;
}
h1,h2,h3{
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
}

.about{
  background-color: white;
  opacity:0.8;
  padding: 30px !important;
  border-radius: 5px;
}

.info{
  padding-top:25px;
}
.join{
  grid-column: 1;
  text-align: center;
  margin:auto;
  width:400px;
}

.g-recaptcha{
  width:70px;
}

footer{
  background-color: black;
  color:#b2d8d8;
  text-align: center;
  margin-bottom: 30px 0 -10px 0;
  padding:10px;
}
footer>p{
  padding:5px;
}
